<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="JohnRogar\MageDoctrine\Api\ManagerInterface" type="JohnRogar\MageDoctrine\Api\Data\Doctrine"/>
    <preference for="JohnRogar\MageDoctrine\Api\EventManagerInterface" type="JohnRogar\MageDoctrine\Model\EventManager\DoctrineEventManager"/>
    <preference for="Doctrine\ORM\Repository\RepositoryFactory" type="JohnRogar\MageDoctrine\Model\Repository\Factory\DoctrineFactory"/>

    <type name="JohnRogar\MageDoctrine\Model\EventManager\DoctrineEventManager">
        <arguments>
            <argument name="subscribers" xsi:type="array">
                <item name="gedmo_timestampable_subscriber" xsi:type="object">
                    Gedmo\Timestampable\TimestampableListener
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="johnrogar_doctrine_schema_create" xsi:type="object">
                    JohnRogar\MageDoctrine\Console\Command\CreateSchemaCommand
                </item>
                <item name="johnrogar_doctrine_schema_drop" xsi:type="object">
                    JohnRogar\MageDoctrine\Console\Command\DropSchemaCommand
                </item>
                <item name="johnrogar_doctrine_schema_update" xsi:type="object">
                    JohnRogar\MageDoctrine\Console\Command\UpdateSchemaCommand
                </item>
                <item name="johnrogar_doctrine_schema_validate" xsi:type="object">
                    JohnRogar\MageDoctrine\Console\Command\ValidateSchemaCommand
                </item>
            </argument>
        </arguments>
    </type>

    <!--<type name="JohnRogar\MageDoctrine\Api\ManagerInterface" shared="true"/>
    <type name="JohnRogar\MageDoctrine\Api\Data\Doctrine" shared="true"/>-->
</config>